<%- include("../partials/admin_auth/header.ejs") %>

  <div class="container">

    <form action="/admin/forgotpassword" method="post">
      <h1 style="font-size: 2rem;">
        forgot password
      </h1>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email"
          required>
        <label for="floatingInput">Email address</label>
      </div>
      <% if(Msg){ %>
        <p style="color:red; padding:0% 1%; text-transform:capitalize; margin:0%">
          <%=Msg%>
        </p>
        <%}%>


          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success" style="font-size: 21px;">Reset Password</button>
          </div>

    </form>

  </div>

  <%- include("../partials/admin_auth/footer.ejs") %>