 <!-- menu -->
    <nav id="navbar">
        <div id="left">
            <h1 id="leftH1"><a href="/" id="lefta" draggable="false"><span class="niraj" id="niraj"><%-gOSdata[1].url1%></a>
            </h1>

            <div id="mobilemenu">
                <button id="meubtn"><i class="fa fa-bars" aria-hidden="true" id="menuicon"></i></button>
            </div>

        </div>

        <div id="right">
            <ul id="menulist">
                <li class="ulli" id="acli"><a href="#" draggable="false" class="lia">home</a>
                    <div class="borderele"></div>
                </li>
                <li class="ulli" id=""><a href="#" draggable="false" class="lia">about</a>
                    <div class="borderele"></div>
                </li>
                <li class="ulli" id=""><a href="#" draggable="false" class="lia">interpersonal skills</a>
                    <div class="borderele"></div>
                </li>
                <li class="ulli" id=""><a href="#" draggable="false" class="lia">techanical skills</a>
                    <div class="borderele"></div>
                </li>
                <li class="ulli" id=""><a href="#" draggable="false" class="lia">projects</a>
                    <div class="borderele"></div>
                </li>
                <li class="ulli" id=""><a href="#" draggable="false" class="lia">Experience</a>
                    <div class="borderele"></div>
                </li>
                <li class="ulli" id=""><a href="#" draggable="false" class="lia">contact</a>
                    <div class="borderele"></div>
                </li>
            </ul>
        </div>
    </nav>